@import 'https://fonts.googleapis.com/css?family=Oswald';

body
{
    padding: 0px;
    margin: 0px;
    background: #222;
    color: #fff;
    overflow: hidden;
}

#sidebar
{
    background: url('img/bg.jpg') no-repeat;
    box-shadow: inset -40px -5px 30px #222;
    height: 100vh;
}

.page-header
{
    width: 90%;
    margin: 0px auto 10px auto;
}

.links
{
    font-size: 1.9em;
    position: fixed;
    bottom: 13%;
}
.links ul
{
    list-style: none;
}
.links a, .links a:active, .links a:focus
{
    text-decoration: none;
    opacity: .7;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    transition: 300ms ease;
}
.links a:hover
{
    text-decoration: none;
    opacity: 1;
    color: #fff;
    text-shadow: 1px 1px 1px #000,
        0px 0px 20px #fff;
    transition: 300ms ease;
}
.links a span, span.fa
{
    width: 38px;
}
span.email
{
    font-size: 77%
}
#copyright
{
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 10px);
    padding: 5px;
    text-align: right;
}

h1
{
    font-family: 'Oswald';
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
    color: #999
}

@media screen and (max-width: 768px)
{
    h1
    {
        font-size: 2.8em;
    }

    body
    {
        background: url('img/bg.jpg') no-repeat top center;
    }

    #copyright
    {
        text-align: center;
    }
}

@media screen (max-width: 768px)
{
    body
    {
        background: url('img/bg.jpg') no-repeat top center;
    }

    h1
    {
        text-shadow: 0px 0px 10px rgba(0,0,0,.5)
    }
}
